<div name="<%= answer.id %>">
  <form class="upvote" method="post" action="/questions/<%= question.id %>/votes" name="<%= answer.id %>">
    <button type="submit" class="up-vote" name="<%= question.id %>">+</button>
  </form>
  <form class="downvote" method="post" action="/questions/<%= question.id %>/votes" name="<%= answer.id %>">
    <input name="_method" type="hidden" value="delete" />
    <button type="submit" class="down-vote" name="<%= question.id %>">-</button>
  </form>
  <strong><%= answer.votes.length %></strong>
  <h4><%= answer.content %> -- <em><%= answer.username %></em></h4>
    <% if session[:user_id] %>
      <a name=<%= answer.id %> class="new-comment-answer" href=answers/<%= answer.id %>/comments/new'>Comment</a>
      <div id="comment-form-<%= answer.id %>" class="hidden">
      </div>
    <% end %>
</div>
