
<h2><%= @question.title %></h2>
<p><%= @question.description %></p>
<p>Question posted by: <%= @user.username %></p>


<hr>
<div id="comments">
  <ul>
    <% @all_comments.each do |comment| %>
      <p><%= comment.content %> -
      <% user = User.find(comment.user_id) %>
      <em><%= user.username %></em></p>
    <% end %>
  </ul>
</div>

<!-- Need to add comment button
this is going to be similar to how to we did the Create Question!
Need button that says "Add Comment" which will then show the comment form (erb Comments/new) and then on submit of that form it will route to the POST on the comments Controller and create the comment
the data it sends back needs to match the data that is printed in a comment
we can use a partial here to display the comments (move everything in lines 11-12 into a partial)
it will be very similar to the question feature!
**don't for get to add session refer to question_controller under NEW QUESTION for session code  -->
<div >
</div>

<div class="posted-question">
  <h2><%= @question.title %></h2>
  <h3><%= @question.description %></h3>
  <p>Question posted by: <%= @user.username %></p>
</div>

<div class="answers">
  <% if @answers %>
    <% @answers.each do |answer| %>
      <h4><%= answer.content %></h4>
    <% end %>
  <% end %>
</div>

<% if session[:user_id] %>
  <form id="post-an-answer" action='/questions/<%= @question.id %>/answers' method='post' name="<%= @question.id %>">
    <textarea cols="50" rows="8" placeholder="Your answer here..."></textarea>
    <input class="submit-button" type="submit" value="Post">
  </form>
<% end %>

