<div id="profile">
<!-- profile image goes here -->
  <p>Name: <%= @user.name %></p>
  <p>Username: <%= @user.username %></p>
  <p>Email: <%= @user.email %></p>
</div>

<!-- edit information -->
<% if session[:user_id] == @user.id %>
  <button id="get-edit-profile-form">
    Edit Profile
  </button>
<% end %>

<form id="update-profile" action="/users/<%= @user.id %>" method="post" name="<%= @user.id %>">
  <p> Name: </p>
  <input class="name" type="text" value="<%= @user.name %>" name="user[name]">
  <p> Username: </p>
  <input class="username" type="text" value="<%= @user.username %>" name="user[username]">
  <p> Description: </p>
  <textarea cols="50" rows="8" name="user[description]" placeholder="Your description here..."></textarea>
</form>

<!-- add user.description for profile -->
<!-- make post route, so sleepy -->

<!-- <form action = "/users" method = "post">
  <input class="name" type="text" placeholder="Name" name="user[name]">
  <input class="username" type="text" placeholder="Username" name="user[username]">
  <input class="email" type="email" placeholder="email@domain.com" name="user[email]">
  <input class="password" type="password" placeholder="password" name = "user[password]">
  <input class="submit-button" type="submit" name="Register">
</form> -->

<!-- have edit profile button bring up a form -->
<!-- when that form submits, refresh info -->

<!-- delete account -->