<div id="profile-info">
<!-- profile image goes here -->
  <p class="profile">Name: <%= @user.name %></p>
  <p class="profile">Username: <%= @user.username %></p>
  <p class="profile">Email: <%= @user.email %></p>
</div>

<!-- edit information -->
<% if session[:user_id] == @user.id %>
  <button id="get-edit-profile-form">
    Edit Profile
  </button>
<% end %>

<form id="update-profile" action="/users/<%= @user.id %>" method="post" name="<%= @user.id %>">
  <p> Name: </p>
  <input class="name" type="text" value="<%= @user.name %>" name="user[name]">
  <p> Username: </p>
  <input class="username" type="text" value="<%= @user.username %>" name="user[username]">
  <input type="submit">
</form>


<!-- delete account -->